.property-details {
    padding: 20px;
}

.property-details__images {
    margin-top: 20px;
}

.property-details__address {
    padding: 20px;
    margin-bottom: 30px;
    color: #FFF; //TODO: GRAB COLOR FROM MAT-VARs
    background-color: #0e47a1; //TODO: GRAB COLOR FROM MAT-VARs

    h1 {
        margin-bottom:0;
    }

    h3 {
        margin-bottom:0;
    }
}

.property-details__specs {
    margin-bottom: 30px;
}

.property-details__description {
    margin-bottom: 30px;
}

.property-details__facts {
    padding-top: 0 !important; //TODO: REMOVE THIS HACK;
}

.property-details__section {
    margin-bottom: 30px;
}

.property-details__apply {
    margin-top: -35px;
    margin-right: 20px;
}

//TODO: TURN THESE INTO COMPONENTS 
.listing__avatar-container {
    position: relative;

    .mat-card-avatar {
        background-color: #DDD; //TODO: GRAB COLOR FROM MAT-VARs
    }
}

.listing__avatar-icon {
    padding: 8px;
}

.listing__avatar-title {
    margin-top: 10px;
    margin-bottom: 0 !important;
}