html, body, main {
    width: 100%;
    height: 100%;
}

body {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.rental__app {
    margin: 0;
}

.rental__root {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.rental__toolbar {
    z-index: 2;
}
