
<div fxFlex="20">
    <h2>property works!</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eleifend enim sollicitudin leo fringilla, sit amet gravida est auctor. Vivamus id mollis orci. Curabitur blandit vel est posuere sollicitudin. Nulla non tortor a dolor lacinia convallis. Nam a elementum nibh, at consectetur tellus. Cras molestie sem eget facilisis faucibus. Nunc semper massa arcu, vel tempus eros volutpat ut. Sed dui dui, dapibus in lobortis nec, tincidunt sagittis lacus. Donec ultrices elit at elit tincidunt vehicula. Nunc luctus magna erat, at hendrerit justo pellentesque vel. Etiam vel vulputate odio, eu ornare velit. Duis eget tincidunt eros. Proin eget magna non ipsum tempus dapibus nec eu leo. Proin in nisl ultrices odio ornare lobortis at eget lorem.
    </p>
    </div>
    <div fxFlex="20">
        <router-outlet></router-outlet>
    </div>

