<section fxLayout="column">
    <div fxLayout>
        <div fxFlex="50">
            <button mat-icon-button [routerLink]="['/']">
                <mat-icon aria-label="close">arrow_back</mat-icon>
            </button>
        </div>
        <div fxFlex="50" fxLayoutAlign="end">

        </div>
    </div>
    <mat-grid-list class="details__images" cols="4" rowHeight="150px">
        <mat-grid-tile *ngFor="let image of propertyDetails.images | slice:0:5" [colspan]="image.cols" [rowspan]="image.rows">
            <img [src]="image.url" [alt]="image.title">
        </mat-grid-tile>
    </mat-grid-list>
    <div fxLayout fxLayoutGap="50px">
        <div fxFlex="70">
            <div class="details__address" fxLayout>
                <div fxFlex fxLayout="column">
                    <h1 class="mat-h1" fxFlex>
                        {{propertyDetails.address.street}}
                        <br />{{propertyDetails.address.city}} {{propertyDetails.address.state}} {{propertyDetails.address.zip}}
                    </h1>
                    <h3 class="mat-h3">{{propertyDetails.description.blurb}}</h3>
                </div>
                <h2 class="mat-h2">
                    {{propertyDetails.price}} / {{propertyDetails.quota}}
                </h2>
            </div>
            <div class="details__specs" fxLayout>
                <div class="listing__avatar-container" fxFlex fxLayout="column" fxLayoutAlign="start center">
                    <div mat-card-avatar>
                        <mat-icon class="listing__avatar-icon">hotel</mat-icon>
                    </div>
                    <h4 class="listing__avatar-title">{{propertyDetails.bed}} beds</h4>
                </div>
                <div class="listing__avatar-container" fxFlex fxLayout="column" fxLayoutAlign="start center">
                    <div mat-card-avatar>
                        <mat-icon class="listing__avatar-icon">hot_tub</mat-icon>
                    </div>
                    <h4 class="listing__avatar-title">{{propertyDetails.bath}} baths</h4>
                </div>
                <div class="listing__avatar-container" fxFlex fxLayout="column" fxLayoutAlign="start center">
                    <div mat-card-avatar>
                        <mat-icon class="listing__avatar-icon">view_compact</mat-icon>
                    </div>
                    <h4 class="listing__avatar-title">{{propertyDetails.sqft}} sqft.</h4>
                </div>
                <div class="listing__avatar-container" fxFlex fxLayout="column" fxLayoutAlign="start center">
                    <div mat-card-avatar>
                        <mat-icon class="listing__avatar-icon">directions_walk</mat-icon>
                    </div>
                    <h4 class="listing__avatar-title">{{propertyDetails.walkscore}}</h4>
                </div>
                <div class="listing__avatar-container" fxFlex fxLayout="column" fxLayoutAlign="start center">
                    <div mat-card-avatar>
                        <mat-icon class="listing__avatar-icon">blur_on</mat-icon>
                    </div>
                    <h4 class="listing__avatar-title">Central air</h4>
                </div>
            </div>
            <div class="details__description">
                <p class="mat-subheading-2">{{propertyDetails.description.long}}</p>
            </div>
            <div class="details__section" fxLayoutWrap>
                <h2 fxFlex="100">Features</h2>
                <mat-list fxFlex="50">
                    <mat-list-item *ngFor="let feature of propertyDetails.features | slice:0:4">
                        <mat-icon mat-list-icon>{{feature.icon}}</mat-icon>
                        <h4 mat-line>{{feature.title}}</h4>
                        <p mat-line>{{feature.description}}</p>
                    </mat-list-item>
                </mat-list>
                <mat-list fxFlex="50">
                    <mat-list-item *ngFor="let feature of propertyDetails.features | slice:4">
                        <mat-icon mat-list-icon>{{feature.icon}}</mat-icon>
                        <h4 mat-line>{{feature.title}}</h4>
                        <p mat-line>{{feature.description}}</p>
                    </mat-list-item>
                </mat-list>
            </div>
            <div class="details__section" fxLayoutWrap>
                <h2 fxFlex="100">Amenities</h2>
                <mat-list fxFlex="50">
                    <mat-list-item *ngFor="let amenity of propertyDetails.amenities | slice:0:4">
                        <mat-icon mat-list-icon>{{amenity.icon}}</mat-icon>
                        <h4 mat-line>{{amenity.title}}</h4>
                    </mat-list-item>
                </mat-list>
                <mat-list fxFlex="50">
                    <mat-list-item *ngFor="let amenity of propertyDetails.amenities | slice:4">
                        <mat-icon mat-list-icon>{{amenity.icon}}</mat-icon>
                        <h4 mat-line>{{amenity.title}}</h4>
                    </mat-list-item>
                </mat-list>
            </div>
            <div class="details__section" *ngFor="let fact of propertyDetails.facts" fxLayoutWrap>
                <h2 fxFlex="100">{{fact.title}}</h2>
                <mat-list class="details__facts" fxFlex>
                    <mat-list-item *ngFor="let item of fact.list | slice:0:2">
                        <mat-icon mat-list-icon>{{fact.icon}}</mat-icon>
                        <h4 mat-line>{{item}}</h4>
                    </mat-list-item>
                </mat-list>
                <mat-list class="details__facts" fxFlex>
                    <mat-list-item *ngFor="let item of fact.list | slice:2:4">
                        <mat-icon mat-list-icon>{{fact.icon}}</mat-icon>
                        <h4 mat-line>{{item}}</h4>
                    </mat-list-item>
                </mat-list>
                <mat-list class="details__facts" fxFlex>
                    <mat-list-item *ngFor="let item of fact.list | slice:4:6">
                        <mat-icon mat-list-icon>{{fact.icon}}</mat-icon>
                        <h4 mat-line>{{item}}</h4>
                    </mat-list-item>
                </mat-list>
                <mat-list class="details__facts" fxFlex>
                    <mat-list-item *ngFor="let item of fact.list | slice:6:8">
                        <mat-icon mat-list-icon>{{fact.icon}}</mat-icon>
                        <h4 mat-line>{{item}}</h4>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
        <div fxFlex="30">
            <mat-card class="details__apply mat-elevation-z10">
                <mat-card-title>{{propertyDetails.type}} Application</mat-card-title>
                <mat-card-subtitle>
                    Receive a response within 12-24 hours
                </mat-card-subtitle>
                <mat-card-actions>
                    <a href="{{propertyDetails.apply.url}}" target="_blank" fxFill mat-raised-button color="accent"> {{propertyDetails.apply.text}}</a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</section>