.listing {
    margin: 20px;
}

.listing__property {
    margin-bottom: 30px;
}

.listing__image {
    overflow: hidden;
    margin-bottom: 20px;
    height: 250px;
}

.listing__image-background {
    max-width: 100%;
    height: auto;
    -moz-transform: scale(1.8);
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
}

//TODO: TURN THESE INTO COMPONENTS 
.listing__avatar-container {
    position: relative;

    .mat-card-avatar {
        background-color: #DDD; //TODO: GRAB COLOR FROM MAT-VARs
    }
}

.listing__avatar-icon {
    padding: 8px;
}

.listing__avatar-title {
    margin-top: 10px;
    margin-bottom: 0;
}
