.details {
    padding: 20px;
}

.details__images {
    margin-top: 20px;
    margin-bottom: 30px;
}

.details__specs {
    margin-bottom: 20px;
}

.details__price {
    margin-bottom: 0 !important; //TODO: REMOVE THIS HACK
}

.details__description {
    margin-bottom: 50px;
}

.details__facts {
    padding-top: 0 !important; //TODO: REMOVE THIS HACK;
}

.details__section {
    margin-bottom: 30px;
}

//TODO: TURN THESE INTO COMPONENTS 
.listing__avatar-container {
    position: relative;

    .mat-card-avatar {
        background-color: #DDD; //TODO: GRAB COLOR FROM MAT-VARs
    }
}

.listing__avatar-icon {
    padding: 8px;
}

.listing__avatar-title {
    margin-top: 10px;
    margin-bottom: 0 !important;
}