<section fxLayout="column">
    <div fxLayout>
        <div fxFlex="50">
            <button mat-raised-button color="primary" [routerLink]="['/']">Apply Today!</button>
        </div>
        <div fxFlex="50" fxLayoutAlign="end">
            <button mat-icon-button [routerLink]="['/']">
                <mat-icon aria-label="close">close</mat-icon>
            </button>
        </div>
    </div>
    <mat-grid-list class="details__images" cols="3" rowHeight="150px">
        <mat-grid-tile *ngFor="let image of propertyDetails.images | slice:0:3" [colspan]="image.cols" [rowspan]="image.rows">
            <img [src]="image.url" [alt]="image.title">
        </mat-grid-tile>
    </mat-grid-list>
    <div fxLayout fxLayoutGap="50px">
        <div fxFlex="70">
            <div class="details__specs">
                <h1 class="details__price mat-display-1">{{propertyDetails.price}} / mo.</h1>
                <h2>{{propertyDetails.address.street}} {{propertyDetails.address.city}} {{propertyDetails.address.state}} {{propertyDetails.address.zip}}</h2>
                <div fxLayout>
                        <div class="listing__avatar-container" fxFlex="15" fxLayoutAlign="start none">
                            <div fxLayout="column" fxLayoutAlign="start center">
                                <div mat-card-avatar>
                                    <mat-icon class="listing__avatar-icon">hotel</mat-icon>
                                </div>
                                <h4 class="listing__avatar-title">{{propertyDetails.bed}} beds</h4>
                            </div>
                        </div>
                        <div class="listing__avatar-container" fxFlex="15" fxLayoutAlign="start none">
                            <div fxLayout="column" fxLayoutAlign="start center">
                                <div mat-card-avatar>
                                    <mat-icon class="listing__avatar-icon">hot_tub</mat-icon>
                                </div>
                                <h4 class="listing__avatar-title">{{propertyDetails.bath}} bath</h4>
                            </div>
                        </div>
                        <div class="listing__avatar-container" fxFlex="15" fxLayoutAlign="start none">
                            <div fxLayout="column" fxLayoutAlign="start center">
                                <div mat-card-avatar>
                                    <mat-icon class="listing__avatar-icon">view_compact</mat-icon>
                                </div>
                                <h4 class="listing__avatar-title">{{propertyDetails.sqft}} sqft.</h4>
                            </div>
                        </div>
                        <div class="listing__avatar-container" fxFlex="15" fxLayoutAlign="start none">
                            <div fxLayout="column" fxLayoutAlign="start center">
                                <div mat-card-avatar>
                                    <mat-icon class="listing__avatar-icon">directions_walk</mat-icon>
                                </div>
                                <h4 class="listing__avatar-title">{{propertyDetails.walkscore}}</h4>
                            </div>
                        </div>
                    </div>


            </div>
            <div class="details__description">
                <p class="mat-body-1">{{propertyDetails.description.long}}</p>
            </div>
            <div class="details__section" fxLayoutWrap>
                <h2 fxFlex="100">Features</h2>
                <mat-list fxFlex="50">
                    <mat-list-item *ngFor="let feature of propertyDetails.features | slice:0:4">
                        <mat-icon mat-list-icon>{{feature.icon}}</mat-icon>
                        <h4 mat-line>{{feature.title}}</h4>
                        <p mat-line>{{feature.description}}</p>
                    </mat-list-item>
                </mat-list>
                <mat-list fxFlex="50">
                    <mat-list-item *ngFor="let feature of propertyDetails.features | slice:4">
                        <mat-icon mat-list-icon>{{feature.icon}}</mat-icon>
                        <h4 mat-line>{{feature.title}}</h4>
                        <p mat-line>{{feature.description}}</p>
                    </mat-list-item>
                </mat-list>
            </div>
            <div class="details__section" *ngFor="let fact of propertyDetails.facts" fxLayoutWrap>
                <h2 fxFlex="100">{{fact.title}}</h2>
                <mat-list class="details__facts" fxFlex>
                    <mat-list-item *ngFor="let item of fact.list | slice:0:2">
                        <mat-icon mat-list-icon>{{fact.icon}}</mat-icon>
                        <h4 mat-line>{{item}}</h4>
                    </mat-list-item>
                </mat-list>
                <mat-list class="details__facts" fxFlex>
                    <mat-list-item *ngFor="let item of fact.list | slice:2:4">
                        <mat-icon mat-list-icon>{{fact.icon}}</mat-icon>
                        <h4 mat-line>{{item}}</h4>
                    </mat-list-item>
                </mat-list>
                <mat-list class="details__facts" fxFlex>
                    <mat-list-item *ngFor="let item of fact.list | slice:4:6">
                        <mat-icon mat-list-icon>{{fact.icon}}</mat-icon>
                        <h4 mat-line>{{item}}</h4>
                    </mat-list-item>
                </mat-list>
                <mat-list class="details__facts" fxFlex>
                    <mat-list-item *ngFor="let item of fact.list | slice:6:8">
                        <mat-icon mat-list-icon>{{fact.icon}}</mat-icon>
                        <h4 mat-line>{{item}}</h4>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
        <div fxFlex="30">
            <mat-card>Simple card</mat-card>
        </div>
    </div>
</section>